.sortChip {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  outline: none;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-secondary);
}

.sortChip:hover {
  background-color: var(--background-tertiary-hover);
  color: var(---text-primary);
}

.sortChip.active {
  background-color: var(--background-tertiary-hover);
   color: var(---text-primary);
}