/* src/features/trading/ui/orderbook-view-switcher/ui/OrderBookViewSwitcher.module.css */
.container {
  display: flex;
  gap: 8px;
  /* background: #2d2d3d; */
  border-radius: 6px;
}

.iconButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 2px;
  border-radius: 1px;
  opacity: 0.6;
  transition: all 0.2s ease;
}

.iconButton:hover {
  opacity: 0.8;
  background: var(--background-tertiary-hover);
}

.iconButton.active {
  opacity: 1;
}

.iconButton.active svg {
  filter: drop-shadow(0 0 2px rgba(240, 185, 11, 0.3));
}
