.favoriteBtn {
  background: none;
  border: 1px solid #999;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-disable, #999);
  width: 24px;
  height: 24px;
  border-radius: 25%;
  box-sizing: border-box;
  transition:
    border-color 0.2s ease,
    color 0.2s ease;
}

.favoriteBtn svg {
  transition: fill 0.2s ease-in-out;
  width: 12px;
  height: 12px;
}

.active {
  border-color: #fadb14;
  color: #fadb14;
}

.noBorder {
  border: none;
  color: var(--text-disable, #999);
}

.favoriteBtn:hover {
  opacity: 0.8;
}

.favoriteBtn.noBorder:hover svg {
  color: var(--text-primary, #fff);
}
