
.trades-container {
    width: 100%;
    max-width: 600px;
    height: 570px;
    margin: 0 auto;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-size: 12px;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        background: transparent;
    }
}

.trades-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.trades-header,
.trade-item {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    height: 18px;
    column-gap: 8px;
    padding: 14px 12px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.trades-header {
    color: var(--text-secondary);
    height: 30px;
    position: sticky;
    top: 0;
    background: #13131e;
    padding: 6px 12px;
    z-index: 1;
}

.trade-price.buy {
    color: var(--buy-color, #25a750);
}

.trade-price.sell {
    color: var(--sell-color, #ca3f64);
}

.header-price,
.trade-price {
    text-align: left;
}

.header-quantity,
.trade-quantity {
    text-align: center;
}

.header-time,
.trade-time {
    text-align: right;
}