.button {
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition:
    background-color 0.3s,
    color 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sm {
  padding: 4px 8px;
  font-size: 0.75rem;
}

.m {
  padding: 8px 16px;
  font-size: 0.875rem;
}

.l {
  padding: 12px 24px;
  font-size: 1rem;
}

.xl {
  padding: 16px 32px;
  font-size: 1.125rem;
}

.primary {
  background-color: #1d4ed8;
  color: white;
}

.primary:hover {
  background-color: #2563eb;
}

.secondary {
  background-color: #e5e7eb;
  color: #111827;
}

.secondary:hover {
  background-color: #d1d5db;
}

.tertiary {
  background-color: transparent;
  color: #1f2937;
  border: 1px solid #9ca3af;
}

.tertiary:hover {
  background-color: #f3f4f6;
}
