.tabsContainer {
  font-family: 'Inter', sans-serif;
  background: var(--background-secondary);
}

.tabsHeader {
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.tabButton {
  flex: 1;
  padding: 12px 16px;
  background: transparent;
  border: none;
  color: #eaecef;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
  position: relative;
}

.tabButton:hover {
  background: rgba(45, 45, 61, 0.5);
}

.tabButton.active {
  color: var(--accent-primary);
  font-weight: 600;
}

.tabButton.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--accent-primary);
}

/* .tabsContent {
  padding: 16px;
} */
